*{
    box-sizing: border-box;
}
body{
    background-color: rgba(229, 229, 229, .4);

    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    width: 100%;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    top: 0;

    background-color: #EC362D;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, .1);

}
header h1{
    color: #FFFFFF;;
    font-size: 37px;
    font-weight: 700;
}
main{
    margin-top: 77px;
}
main .botaoInicial{
    width: 1051px;
    padding: 20px;

    border: 1px dashed #D5D5D5;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 77px;
}
main .botaoInicial p{
    width: 250px;
    padding: 20px;

    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    color: #B9B9B9;
    text-align: center;
}
main .botaoInicial button{
    width: 136px;
    height: 40px;

    border-radius: 20px;
    border: 1px dashed #EC362D;

    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    color: #EC362D;

    background-color: transparent;
}
button:hover{
    cursor: pointer;
}
main .todosOsQuizzes{
    width: 1051px;
    height: 50px;

    background-color: red;
}

.criarQuizz{
    width: 600px;
    margin-top: 132px;
    text-align: center;
}
.criarQuizz h1{
    font-size: 23px;
    font-weight: 700;
    line-height: 27px;
    color: #000000;

}
.criarQuizz .telaUm div{
    width: 100%;
    height: 256px;
    padding: 30px;
    margin-bottom: 85px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.criarQuizz input{
    width: 564px;
    height: 46px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;

    padding: 0px 20px;
    font-style: italic;
    font-size: 19px;
    font-weight: 400;
    color: #BABABA;
}
.criarQuizz button{
    width: 369px;
    height: 54px;
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
    color: #FFF5F4;
    text-align: center;
    background-color: #EC362D;
    border: none;
    border-radius: 15px;
}

.telaDois .container-perguntas, .telaTres .container-niveis{
    padding: 30px 0;
}
.container-perguntas .numPergunta, .container-niveis .numNivel{
    padding: 25px;
    margin-bottom: 24px;

    background-color: #FFFFFF;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.telaDois h2, .telaTres h2{
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    color: #000000;
    text-align: start;
}
.telaDois ion-icon, .telaTres ion-icon{
    font-size: 26px;
}
.telaDois .numPergunta:hover, .telaTres .numNivel:hover, .telaQuatro .imagemDoQuizz:hover{
    cursor: pointer;
}
.telaDois .dadosPerguntas{
    height: 825px;

    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    padding: 40px 20px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dadosPerguntas .blocoPergunta, .blocoRCorreta, .blocoRIncorreta{
    height: 141px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dadosPerguntas .blocoRIncorreta{
    height: 421px;
}
.telaTres .dadosNiveis{
    height: 251px;

    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    padding: 10px 20px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.telaQuatro{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.telaQuatro .imagemDoQuizz{
    margin-top: 46px;
    margin-bottom: 46px;
    position: relative;
}
.imagemDoQuizz img{
    width: 100%;
    height: 266px;
    border-radius: 5px;
}
.imagemDoQuizz a{
    position: absolute;
    font-size: 23px;
    font-weight: 400;
    line-height: 27px;
    text-decoration: none;
    color: #FFFFFF;
    bottom: 25px;
    left: 25px;
}
.telaQuatro .botoesFimQuizz{
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.botoesFimQuizz a{
    text-decoration: none;
    font-size: 21px;
    font-weight: 400;
    color: #818181;
}
.escondido{
    display: none;
}
.inputAlerta{
    animation: treme 0.2s;
    animation-iteration-count: 3;
}
@keyframes treme {
    0% {margin-left: 0;}
    25% {margin-left: 5px;}
    50% {margin-left: 0;}
    75% {margin-left: -5px;}
    100% {margin-left: 0;}
}